@import "./regular_design.scss";
@import "./modern_button.scss";
@import "./modern_range_input.scss";

$light-green: #1faa1c;
$dark-green:  #1d7737;

body {
	margin          : 0;
	padding         : 0;
	color           : #131c16;
	background-color: #f2faff;
	font-family     : $gothic;
	font-size       : 17px;
}

#content {
	margin: 10px 26px;
}

p {
	margin        : 8px 0;
	font-size     : 100%;
	letter-spacing: 0.06em;
}

button#inner-grow-button {
	@include button-template($light-green, $dark-green);
}

button#outer-grow-button {
	@include button-template(#d98310, #613d0d);
}

button#init-button {
	@include button-template(#bf3434, #4b1717);
}

.svg-field-frame {
	width        : 840px;
	height       : 560px;
	margin       : 20px;
	padding      : 30px;
	overflow     : auto;
	border       : 4px solid #6b6560;
	border-radius: 6px;
}

svg#sample {
	display      : block;
	width        : 100%;
	height       : 100%;
}

.slidebars {
	width  : 800px;
	margin : 10px 20px 20px;
}

.range-input-box {
	display      : table;
	width        : 100%;
	margin       : 0 0 8px;
	background   : #cde2bb;
	border-bottom: 3px solid $dark-green;
	border-right : 5px solid $dark-green;
	border-radius: 2em;

	&.after-init {
		background: #f0c5bc;
	}
}

.range-title, .range-input, .range-output {
	display: table-cell;
}
.range-title {
	width     : 8em;
	text-align: center;
}
.range-input {
	width: auto;
}
.range-output {
	width: 8em;
	padding-left: 2em;
}

.caution {
	margin-top     : 10px;
	color          : #7c061a;
	font-size      : 82%;
	text-align     : right;
	text-decoration: underline;
}

input[type="range"] {
	@include range-template($light-green, 1em);
	width: 100%;
}

// テキストの調整 small, big など
@import "./h_title.scss";
@import "./text_decoration.scss";

// 色の設定
@import "./colors.scss";
